* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;

  display: block;
  margin: 0 auto;
  position: relative;
}
.section-1 {
  height: 5.1vw;
  background-color: #91040c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#text1 {
  font-family: "mr_NeverSmile";
  text-transform: uppercase;
  position: absolute;
  color: #efdbbf;
  font-size: 5.6vw;
  letter-spacing: -4%;
  text-align: center;
}
.section-2 {
  width: 100vw;
  height: 53.4vw;
  background-image: url(../images/1.svg);
  background-repeat: no-repeat;
  /* margin: 0 -5%; */
  background-color: #efdbbf;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}
/* .gift_top {
  width: 51.6vw;
  height: 9.2vw;
  border-radius: 3vw;
  background-color: #23140d;
  position: absolute;
  left: 24%;
  bottom: 25.4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
} */
/* .gift_bottom {
  width: 48.8vw;
  height: 25.4vw;
  background-color: #91040c;
  background-image: url(../images/gift_bottom.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 25.4%;
  bottom: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
} */

/* #text2 {
  font-family: "mr_NeverSmile";
  text-transform: uppercase;
  position: absolute;
  color: #efdbbf;
  font-size: 8.3vw;
  letter-spacing: -4%;
  text-align: center;
} */
.section-3 {
  height: 4.2vw;
  background-color: #91040c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#text3 {
  font-family: "mr_NeverSmile";
  text-transform: uppercase;
  position: absolute;
  color: #efdbbf;
  font-size: 4.5vw;
  letter-spacing: -4%;
  text-align: center;
}
